<div class="col col-12 py-3">
  <h2>Login</h2>
  <form method="POST" action="/login">
    <div class="mb-3">
      <label for="input-email" class="form-label">Email address</label>
      <input
        type="email"
        class="form-control"
        id="input-email"
        name="username"
        aria-describedby="emailHelp"
      />
      <div id="emailHelp" class="form-text">We'll never share your email with
        anyone else.</div>
    </div>
    <div class="mb-3">
      <label for="input-password" class="form-label">Password</label>
      <input
        type="password"
        name="password"
        class="form-control"
        id="input-password"
      />
    </div>
    <div class="mb-3 form-check">
      <input type="checkbox" class="form-check-input" id="exampleCheck1" />
      <label class="form-check-label" for="exampleCheck1">Remember Me</label>
    </div>
    <button type="submit" class="btn btn-primary">Login</button>
  </form>
</div>