<div class="col col-12 py-3">
  <h2>Sign Up</h2>
  <form method="POST" action="/signup">
    <div class="mb-3">
      <label for="input-username" class="form-label">Username</label>
      <input
        type="email"
        class="form-control"
        id="input-username"
        name="username"
        aria-describedby="usernameHelp"
      />
    <div class="mb-3">
      <label for="input-password" class="form-label">Password</label>
      <input 
        type="password" 
        class="form-control" 
        id="input-password"
        name="password" 
      />
    </div>
    <button type="submit" class="btn btn-primary">Login</button>
  </form>
</div>